:root {
    --first-color: #191A19;
    --second-color: #1E5128;
    --third-color: #4E9F3D;
    --fourth-color: #D8E9A8;

    --fs-1100: clamp(7rem, 12vw + 1rem, 9rem);
    --fs-1050: clamp(5rem, 12vw + 1rem, 7rem);
    --fs-1000: clamp(3rem, 12vw + 1rem, 7rem);
    --fs-900: 3rem;
    --fs-800: 2rem;
    --fs-700: 1.4rem;
    --fs-600: 1.2rem;
    --fs-500: 1rem;
    --fs-300: 0.5rem;
    --fs-200: 0.3rem;
}

h1 {
    font-size: var(--fs-1000);
    text-shadow: 5px 4px 0px var(--second-color);
    letter-spacing: 0.2rem;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    justify-items: center;
    gap: var(--fs-600);    
    background-color: var(--first-color);
    color: var(--fourth-color)
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);

    gap: var(--fs-300);
}

.player-panel {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: var(--fs-300);
}

.player-panel span {
    font-size: 3rem;
    line-height: 0.75;
}
        
.player-active {
    transition: all 1s;
}
    
.player-panel button {
    color: inherit;
    border: none;
    border-radius:5px;
    background-color: var(--second-color);
    font-size: var(--fs-700);
    font-weight: 600;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--fs-300);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--fs-1100));
    grid-template-rows: repeat(3, var(--fs-1100));
    gap: var(--fs-300);
    position: relative;
}

.board div {
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-1050);
}

.board div:hover {
    transition: all 0.2s;
    background-color: var(--third-color);
}

.display-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: var(--third-color) !important;
}

.display-wrapper p {
    font-size: var(--fs-900);
    margin: 0;
}