* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    background-color: rgb(54, 54, 54);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template-rows: 5rem 1fr 3rem;
}

header {
    background-color: gray;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

footer {
    background-color: lightgray;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

#board div {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#board div:nth-child(3n) {
    border-right: none;
}

#board div:nth-child(-3n + 10) {
    border-left: none;
}

#board div:nth-child(-n + 3) {
    border-top: none;
}

#board div:nth-child(n + 7) {
    border-bottom: none;
}